/* Learn 03 */
/* div{
    background-color: blue;
    width: 20%;
    float: left;
    height: 300px;
    margin: 2%;
    color: white;
    font-size: 25px;
} */









/* Learn 05 */
div{
    width: 20%;
    float: left;
    height: 300px;
    margin: 2%;
    color: white;
    font-size: 25px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}